select {
    margin: 0 10px;
    width: 20%;
    background-color: #ccc;
}

button {
    background-color: #f9a91a;
    padding: 10px;
    border: none;
    margin: 10% 30%;
}

input {
    width: 90%;
}

.white {
    color: white;
}

.root {
    width: 70%;
    margin: 0 auto;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.rokkitt {
    font-family: 'Rokkitt', serif;
}
